.container {
  right: 1rem;
  margin: auto;
  position: relative;
  max-width: 20rem;
  text-align: center;
}

.image {
  top: 2rem;
  left: 2rem;
  width: 70%;
  position: relative;
  border-radius: 1rem;
}

ul {
  font-size: 4em;
  list-style: none;
}

button { 
  color: black;
  font-weight: bold;
  width: 70%;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

button:hover {
  background-color: #8f8f8f;
}

