.section {
  margin: 0 auto;
  max-width: 20rem;
  text-align: center;
}

.getBackButton {
  width: 20%;
  border: none;
  margin: 0.1rem 0 0 -16.5rem;
  padding: 0.2rem;
  font-size: 0.9em;
}

.itemContainer {
  display: grid;
  grid-template-columns: 42% 40%;
  margin: 1rem 0 1rem 0;
  justify-content: center;
}

.profileImg {
  width: 18.75rem;
  height: 18.75rem;
  margin: 1rem 0 0 0;
  text-align: center;
  border-radius: 10rem;
}

.profileStats {
  margin: 0.5rem 0 0 0.5rem;
}

.profileUserName {
  text-align: center;
}

.input {
  width: 32%;
  margin: 0 0 0 0.5rem;
  font-size: smaller;
}

.confirmBtn {
  float: right;
  color: #fff;
  width: 10%;
  cursor: pointer;
  border: none;
  margin: 0rem 0.66rem 0 -0.6rem;
  padding: 0.7rem 0.1rem 0.7rem 0.1rem;
  font-size: 0.9em;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #ab9c15;
}

.convertButton {
  height: 85%;
  padding: 0.7rem;
  font-size: 0.86em;
  border-radius: 0 0.9rem 0.9rem 0;
}

.disabled {
  height: 83%;
  padding: 0.7rem;
  font-size: 0.86em;
  border-radius: 0 0.9rem 0.9rem 0;
  background-color: rgb(134, 125, 43);
}

.inputError {
  width: 30%;
  margin: 0 0 0 0.5rem;
  font-size: smaller;
  border: 0.15rem solid #aa0b20;
  background-color: #ffeff1;
}

.errorMessage {
  color: #ca3e51;
  margin: 1rem 0 0 0.2rem;
}

.disabledBtn {
  border: none;
  background-color: rgb(133, 133, 133);
  font-size: 0.86em;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  width: 97%;
  margin: 1rem 0 0 0;
  padding: 0.2rem;
  font-size: 0.9em;
}

.div {
  display: grid;
  grid-template-columns: 94% 6%;
}

.divisor {
  display: grid;
  grid-template-columns: 94% 94%;
}

.editBtn {
  width: 97%;
  margin: 1rem 0 0 0;
  padding: 0.2rem;
  font-size: 0.9em;
}

@media (min-width: 280px) and (max-width: 361px) {
  .getBackButton {
    width: 30%;
    border: none;
    padding: 0.2rem;
    font-size: 0.9em;
  }

  .divisor {
    display: grid;
    grid-template-columns: 100% 100%;
    margin: 0 0 0 5rem
  }

  .profileImg {
    width: 15rem;
    height: 15rem;
    margin: 1rem 0 0 0;
    text-align: center;
    border-radius: 10rem;
  }

  .inputError {
    width: 30%;
    margin: 0 0 0 0.6rem;
    font-size: smaller;
    border: 0.15rem solid #aa0b20;
    background-color: #ffeff1;
  }
  
}
