section {
  margin: auto;
  max-width: 25rem;
  text-align: center;
}

.button {
  border: solid;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 4rem;
}
.getBackButton {
  width: 15%;
  padding: 0%;
  border: solid 1px;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 21.5rem;
}

h2,
h3 {
  text-align: center;
  margin: 0 0 0 1rem;
}

@media (min-width: 280px) and (max-width: 415px) {
  .getBackButton {
    width: 95%;
    padding: 0%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }

  .button {
    border: solid;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 2.5rem;
  }
}
